<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This mode has better performance over the default concurrent mode. 
  It pauses the process while GC runs so it should only be used on system processes where pausing is not visible -->
	<runtime>
		<gcServer enabled="true"/>
		<!--<gcConcurrent enabled ="true" />-->
	</runtime>
	<appSettings>
		<!-- simple key/value pairs -->
		<add key="SecureLoad" value="false" />
	</appSettings>
</configuration>
