<configuration>
  <!--
  Below is where all the application specific settings exist.
  The first section defines all the application sections and the remainder are that
  are the actual sections.
  -->
  <configSections>
    <section name="Parameters" type="System.Configuration.DictionarySectionHandler, System, Culture=Neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089"></section>
  </configSections>

  <CAVAN>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=PTDEV\\SQLEXPRESS;Initial Catalog=MassRecordingsProd;Integrated Security=true;"></add>
    <add key="MasterCopy" value="C:\SharedPT2\DataBackedUpDaily\MassRecordingMasterCopy"></add>
    <!--add new database connection key here-->
  </CAVAN>

  <PTMR>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordingsProd;UID=MassRecordings;PWD=Optimize101"></add>
    <add key="MasterCopy" value="\\192.168.9.110\SharedPT2\DataBackedUpDaily\MassRecordingMasterCopy"></add>
    <!--add new database connection key here-->
  </PTMR>

  <PTMR2>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordingsProd;UID=MassRecordings;PWD=Optimize101"></add>
    <add key="MasterCopy" value="G:\Team Drives\Development Resources\MassRecordings"></add>
    <!--add new database connection key here-->
  </PTMR2>

  <MARTHADEV>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordingsTest;Integrated Security=true;"></add>
    <add key="MasterCopy" value="G:\Team Drives\Development Resources\MassRecordings"></add>
    <!--add new database connection key here-->
  </MARTHADEV>
  <ANDREDEV>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings2;Integrated Security=true;"></add>
    <!--<add key="MasterCopy" value="\\192.168.9.110\SharedPT2\DataBackedUpDaily\MassRecordingMasterCopy"></add>-->
    <add key="MasterCopy" value="\\192.168.9.110\SharedPT2\DataBackedUpDaily\MassRecordingMasterCopy"></add>
    <!--add new database connection key here-->
  </ANDREDEV>
  <PTDEV>
	  <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
	  <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
	  <add key="DBConnectionString" value="Data Source=PTDEV\SQLEXPRESS;Initial Catalog=MassRecordings;Integrated Security=true;"></add>
	  <add key="MasterCopy" value="C:\\ProgramData\\Planet Together MR\\MasterCopy"></add>
	  <add key="UIPath" value="C:\APSCore\UserInterface\UI\bin\Debug\APSClient.exe"/>
	  <!--add new database connection key here-->
  </PTDEV>

	<AMIN>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordingsAmin;Integrated Security=true;"></add>
    <add key="MasterCopy" value="\\192.168.9.110\SharedPT2\DataBackedUpDaily\MassRecordingMasterCopy"></add>
    <!--add new database connection key here-->
  </AMIN>
  <TESTINGSERVER>
    <!--
    DBConnectionString is the connection string used to access the MR database. 
    Default is DEVSERVER : "Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.9.112;Initial Catalog=MassRecordings;UID=MassRecordings;PWD=Optimize101"></add>-->
    <add key="DBConnectionString" value="Data Source=LOCALHOST;Initial Catalog=MR;Integrated Security=true;"></add>
    <add key="MasterCopy" value="D:\MassRecordings\MassRecordings"></add>
    <!--add new database connection key here-->
  </TESTINGSERVER>
</configuration>
