<configuration>

  <configSections>
	<section name="PTSystem" type="System.Configuration.DictionarySectionHandler, System, Culture=Neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089"></section>
  </configSections>
  
  <system.runtime.remoting>
    <application>
      <client>
<!--
This configuration runs the broadcaster from withing IIS.
-->               
<!--

        <wellknown type="Scheduler.PTBroadcaster, Scheduler"  
                   url="http://localhost/PT/PTBroadcaster.soap" />
-->               

<!--
This configuration runs the broadcaster from withing the server ServerTestClient.
-->               
      <wellknown type="PT.Scheduler.PTBroadcaster, PT.Scheduler" url="http://localhost:8000/PTBroadcaster.soap"/>
                   
      <wellknown type="PT.Scheduler.PTInterface, PT.Scheduler" url="http://localhost:8000/PTInterface.soap"/>
                  
      </client>
    </application>
  </system.runtime.remoting>
  
	<PTSystem>
		<!--
		workingDirectory: The directory where temporary working files should be stored.
		-->
		<add key="workingDirectory" value="C:\_PlanetTogether\FactoryGeneratorData"></add>
	</PTSystem>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
