<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExtraServicesWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-kcipa6f:8788/APSWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExtraServicesWebService"
                contract="ApsWebServiceRef.IExtraServicesWebService" name="BasicHttpBinding_IExtraServicesWebService" />
        </client>
    </system.serviceModel>
</configuration>