@page "/aianalytics"

<div>
    <iframe src="https://query-insight-hvdvbpaugearfba2.westus2-01.azurewebsites.net" width="100%" height="700" style="visibility: hidden; border: none;" onload="this.style.visibility='visible';" allow="autoplay; clipboard-read; clipboard-write"></iframe>
</div>


@code {
    private User User { get; set; }
    private bool hasLoaded;
    private string Picture = string.Empty;

    [Inject]
    private IUserService m_userService { get; set; }
    [Inject]
    IAppInsightsLogger logger { get; set; }
    [Inject]
    IJSRuntime js { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await m_userService.GetCurrentUserAsync(AuthenticationStateProvider);
    }
}
