<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
	**************************************************************************************************************************************************************
	This section defines all the application specific settings of the client.
	**************************************************************************************************************************************************************
	-->
  <configSections>
    <section name="PTSystem" type="System.Configuration.DictionarySectionHandler, System, Culture=Neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089"></section>
    <section name="broadcaster" type="System.Configuration.DictionarySectionHandler, System, Culture=Neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089"></section>
    <section name="appearance" type="System.Configuration.DictionarySectionHandler, System, Culture=Neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089"></section>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/PlanetTogetherThemes</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>PlanetTogether Light</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <!--
	**************************************************************************************************************************************************************
	Settings in common with PTService.  Intentionally left blank.
	**************************************************************************************************************************************************************
	-->
  <PTSystem></PTSystem>
  <!--
	**************************************************************************************************************************************************************
	The settings in this section control how the clients receiver interacts with the broadcaster.
	The broadcaster is a process run on a server that is accessed by all clients for data and
	synchronization.
	**************************************************************************************************************************************************************
	-->
  <broadcaster>
    <!--
		=================================================================================================
		contactInterval: The communication interval in milliseconds between the broadcaster and the
		client's receiver. 
		=================================================================================================
		-->
    <add key="masterSchedulerContactInterval" value="150"></add>
    <add key="whatIfContactInterval" value="150"></add>
    <add key="viewOnlyContactInterval" value="1000"></add>
  </broadcaster>
  <appearance>
	  <!--
		=================================================================================================
		The fastDrawThreshold indicates the maximum allowed time (in milliseconds) for a gantt redraw 
		before switching to "fast draw" mode which only shows Timing color on the block and no special 
		borders in order to speed up redraws.
		=================================================================================================
		-->
    <add key="fastDrawThreshold" value="30000"></add>
    <!--
		=================================================================================================
		The fastDrawCancelThreshold indicates the gantt time span (in hours) below which fastDraw should 
		not be used. For example, if this value is 24 then whenever the gantt shows 24 hours or less, 
		fastDraw will NOT be used.
		=================================================================================================
		-->
    <add key="fastDrawCancelThreshold" value="24"></add>
    <!--
		=================================================================================================
		allowPasswordSaving: If "true" then the user can check the box to save their password.  Otherwise
		the checkbox is hidden and passwords can't be saved and must be entered for each login.
		=================================================================================================
		-->
    <add key="allowPasswordSaving" value="true"></add>
  </appearance>
  <!--
	**************************************************************************************************************************************************************
	**************************************************************************************************************************************************************
	-->
  <system.windows.forms jitDebugging="true" />
</configuration>