@inject IJSRuntime JSRuntime
@using Microsoft.PowerBI.Api;
@using Microsoft.PowerBI.Api.Models;
@using Microsoft.Rest;
@* @using Radzen; *@
@using ReportsWebApp.DB.Services;
@using ReportsWebApp.Data;

<div @ref="@PowerBIElement" style="padding-top: 10px;width:100%;height:85vh;max-width:2000px"></div>

@code {
    [Parameter] public string WorkspaceId { get; set; }
    [Parameter] public string ReportId { get; set; }
    private ElementReference PowerBIElement;
    [Inject]
    PowerBIService PowerBIService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Check that WorkspaceId and ReportId are neither null/empty nor "0"
            if (!string.IsNullOrEmpty(WorkspaceId) && WorkspaceId != "0" &&
                !string.IsNullOrEmpty(ReportId) && ReportId != "0")
            {
                await DisplayReportAsync();
            }
        }
    }

    public async Task DisplayReportAsync()
    {
        var accessToken = await PowerBIService.GetPowerBIAccessTokenAsync();
        var tokenCredentials = new TokenCredentials(accessToken, "Bearer");

        using (var client = new PowerBIClient(new Uri("https://api.powerbi.com/"), tokenCredentials))
        {
            var report = await client.Reports.GetReportInGroupAsync(new Guid(WorkspaceId), new Guid(ReportId));
            var generateTokenRequestParameters = new GenerateTokenRequest(accessLevel: "edit", allowSaveAs: true);
            var tokenResponse = await client.Reports.GenerateTokenAsync(new Guid(WorkspaceId), new Guid(ReportId), generateTokenRequestParameters);

            await Interop.EditReport(JSRuntime, PowerBIElement, tokenResponse.Token, report.EmbedUrl, report.Id.ToString());
        }
    }
}
