<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServerManager_Streaming"
						 closeTimeout="00:02:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:30:00"
						 sendTimeout="00:10:00"
						 allowCookies="false"
						 bypassProxyOnLocal="false"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="1000857600"
						 maxBufferPoolSize="524288"
						 maxReceivedMessageSize="1000857600"
						 messageEncoding="Mtom"
						 textEncoding="utf-8"
						 transferMode="StreamedResponse"
						 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport realm=""/>
					</security>
				</binding>
			</basicHttpBinding>
			<basicHttpsBinding>
				<binding name="BasicHttpsBinding_ISystemService"
						  closeTimeout="00:02:00"
						  openTimeout="00:01:00"
						  receiveTimeout="00:30:00"
						  sendTimeout="00:10:00"
						  allowCookies="false"
						  bypassProxyOnLocal="false"
						  hostNameComparisonMode="StrongWildcard"
						  maxBufferSize="1000857600"
						  maxBufferPoolSize="524288"
						  maxReceivedMessageSize="1000857600"
						  messageEncoding="Mtom"
						  textEncoding="utf-8"
						  transferMode="StreamedResponse"
						  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport realm=""/>
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint name="BasicHttpBinding_IServerManager_Streaming"
				address="http://localhost:7990/ServerManager/Streaming"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IServerManager_Streaming"
				contract="ServerManager.IServerManager" />
			<endpoint name="BasicHttpBinding_ISystemService"
					  address="https://localhost:8011/SystemService"
					  binding="basicHttpsBinding"
					  bindingConfiguration="BasicHttpBinding_ISystemService"
					  contract="SystemServiceRef.ISystemService" />
		</client>
		<services>
			<service name="PT.ExtraServices.APSWebServiceController" behaviorConfiguration="APSWebServiceBehavior">
				<endpoint address="" binding="basicHttpsBinding" contract="PT.PlanetTogetherExtraServicesDefinitions.IExtraServicesWebService"/>
				<endpoint address="mex"
				    binding="mexHttpsBinding"
				  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="APSWebServiceBehavior">
					<serviceMetadata httpsGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<!-- This mode has better performance over the default concurrent mode. 
  It pauses the process while GC runs so it should only be used on system processes where pausing is not visible -->
	<runtime>
		<gcServer enabled="true" />
		<!--<gcConcurrent enabled ="true" />-->
	</runtime>
</configuration>
