<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="BasicHttpBinding_IExtraServicesWebService" />
                <binding name="BasicHttpsBinding_IExtraServicesWebService">
                    <security mode="Transport" />
                </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8788/APSWebService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IExtraServicesWebService"
                contract="APSWebServiceRef.IExtraServicesWebService" name="BasicHttpBinding_IExtraServicesWebService" />
            <endpoint address="https://ptdev2:8788/APSWebService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IExtraServicesWebService"
                contract="APSWebServiceRef.IExtraServicesWebService" name="BasicHttpsBinding_IExtraServicesWebService" />
        </client>
    </system.serviceModel>
</configuration>
