<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DesyncFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServerManager_Streaming"
						 closeTimeout="00:02:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:30:00"
						 sendTimeout="00:10:00"
						 allowCookies="false"
						 bypassProxyOnLocal="false"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="1000857600"
						 maxBufferPoolSize="524288"
						 maxReceivedMessageSize="1000857600"
						 messageEncoding="Mtom"
						 textEncoding="utf-8"
						 transferMode="StreamedResponse"
						 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport realm=""/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint name="BasicHttpBinding_IServerManager_Streaming"
				address="http://localhost:7990/ServerManager/Streaming"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IServerManager_Streaming"
				contract="ServerManager.IServerManager" />
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<userSettings>
		<DesyncFinder.Properties.Settings>
			<setting name="MinCompatibleServerManagerVersion" serializeAs="String">
				<value>2011.02.15.1</value>
			</setting>
		</DesyncFinder.Properties.Settings>
	</userSettings>
</configuration>
