.dxbl-chatui-messages {
    background-color: transparent !important;
}

.main-pt-chat {
    width: 100%;
    height: 400px;
    font-size: 13px;
}

    .main-pt-chat .main-pt-chat-message {
        padding: 5px;
        color: black;
    }

        .main-pt-chat .main-pt-chat-message.main-pt-assistant-message {
            color: var(--bs-heading-color);
            align-self: self-start;
        }

        .main-pt-chat .main-pt-chat-message.main-pt-user-message {
            background-color: rgb(82 175 227);
            border-radius: 10px;
            align-self: self-end;
            box-shadow: 0px 2px 6px -2px;
            width: calc(100% - 60px);
        }

        .main-pt-chat .main-pt-chat-message.main-pt-error-message {
            background-color: rgb(255, 183, 194);
            align-self: center;
            border-radius: 10px;
            align-self: self-end;
            box-shadow: 0px 2px 6px -2px;
        }
#fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.dx-overlay-wrapper .dx-overlay-content {
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dx-speed-dial-action {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

    .dx-speed-dial-action:hover {
        transform: scale(1.1);
    }

.main-pt-chat-wrapper {
    position: fixed;
    bottom: 105px;
    right: 30px;
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--bs-body-bg);
}

.chat-header {
    background-color: rgb(75, 162, 255);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

    .chat-header .btn-close {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }