@import url('switcher-resources/themes.css');
@import url('switcher-resources/theme-switcher.css');
@import url('open.iconic/font/css/open-iconic-bootstrap.min.css');

/* Base styles and resets */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.logo-name {
    width: 175px;
}
