/* Dashboard-specific group card styles or general component styles */
.pa-group-card .dxbl-group {
    border: none;
}

.pa-group-card .dxbl-group-header {
    border: none;
    border-radius: 0;
}

.dxbl-group-header {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: var(--bs-body-bg) !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}