.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; /* Align buttons to the right */
    user-select: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

    .fab-container:hover {
        height: 100%; /* Ensures the container expands */
    }

        .fab-container:hover .sub-button:nth-child(2) {
            transform: translateY(-80px); /* Buttons slide up */
        }

        .fab-container:hover .sub-button:nth-child(3) {
            transform: translateY(-140px);
        }

        .fab-container:hover .sub-button:nth-child(4) {
            transform: translateY(-200px);
        }

    .fab-container .fab {
        position: relative;
        height: 70px;
        width: 70px;
        background-color: rgb(75, 162, 255);
        border-radius: 50%;
        z-index: 20;
    }

        .fab-container .fab .fab-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

            .fab-container .fab .fab-content .material-icons {
                color: white;
                font-size: 48px;
            }

    .fab-container .sub-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
        background-color: rgb(75, 162, 255);
        border-radius: 50%;
        transition: all 0.5s ease;
    }

        .fab-container .sub-button:hover {
            cursor: pointer;
        }

        .fab-container .sub-button i {
            color: white;
        }

    .fab-container .sub-button-title {
        display: none;
        position: absolute;
        top: 50%;
        right: calc(100% + 15px);
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.87);
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(2s);
        z-index: 5;
    }

    .fab-container:hover .sub-button-title {
        display: block; /* Make the label visible when the container is hovered */
        opacity: 1; /* Smooth fade-in effect */
    }
