.table-responsive {
    overflow-x: auto;
}

.dxbs-tree > ul.nav ul.nav {
    margin: 0.2em 0 0.2em 0.8em !important;
}

.dxbs-grid .dxbs-grid-table > tbody > tr > td {
    padding: 6px; /* Smaller padding */
    font-size: 12px; /* Smaller font size */
}
