name: Qodana
on:
  workflow_dispatch:
jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # Checkout *this* repo
      - name: Checkout aps-core
        uses: actions/checkout@v4
        with:
          path: aps-core
          fetch-depth: 1
      
      # Checkout private repo into ./aps-packages (sibling of aps-core)
      - name: Checkout aps-packages
        uses: actions/checkout@v4
        with:
          repository: PlanetTogether/aps-packages
          path: aps-packages
          fetch-depth: 1
          # If aps-packages is private, keep one of these:
          token: ${{ secrets.APS_PACKAGES_TOKEN }}   # if it has access (same org, permissions granted)
          # token: ${{ secrets.APS_PACKAGES_TOKEN }}  # PAT recommended if GITHUB_TOKEN can't read it

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
            args: |
                --linter,qodana-dotnet,
                --within-docker,false,
                --project-dir,aps-core,
                --property=qodana.net.solution=APSCore.sln
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_CONFIGURATIONS_TOKEN }}
