<!--
	**************************************************************************************************************************************************************
	Specify the directories and files that the service will keep track of.
	All the files and paths must be specified realtive to the working directory.
	
	Clients use the contents of the service to create a directory like the service's working directory.
	
	The three ways you can specify directories and files the service keeps track of are described below.
	RecursiveDirectories: Directories specified under this type of XML node are dug into recursively.
	Directories: All files of directories specified under this type of XML node are made available.
	Files: This allows you to single out files.
	
	Example:
	
	<Directories>
		<Version>1</Version>
		
		<BaseDirectory>C:\Program Files\PlanetTogether\ProgramFiles</BaseDirectory>
		
		<RecursiveDirectories>
			<Directory>Program Files</Directory>
		</RecursiveDirectories>
		
		<Directories>
			<Directory>Customizations Folder</Directory>
			<Directory>Scheduling\Simulation Customizations</Directory>
		</Directories>
		
		<Files>
			<File>Getting Started.txt</File>
		</Files>
		
	</Directories>
	**************************************************************************************************************************************************************
 -->
<Directories>
	<RecursiveDirectories>
		<Directory>UICustomizations</Directory>
    <Directory>Reports</Directory>
    <Directory>UserSettings</Directory>
	</RecursiveDirectories>

	<Directories>		
	</Directories>

	<Files>
	</Files>
	<Version>1</Version>
</Directories>
	
